body {
  background-color: #c3e4c3;
}
.textBold {
  font-weight: bold;
}
.textItalics {
  font-style: italic;
}
.textWhite {
  color: white !important;
}
.basicWrapper {
  position: absolute;
  top: 47px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px;
}
.basicBody {
  display: flex;
  height: 100%;
  justify-content: center;
}
.basicColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
