body {
  background-color: #eeebe763;
  color: #2b241c;
}

body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 1px;
  height: 0;
}

:global .ui.feed > .event > .content .meta.os-flex {
  display: flex;
}

:global .ui.feed > .event > .content .meta .like.os-flexFill {
  flex: 1 1 auto;
  margin-right: 25px;
}

:global .os-textRight {
  text-align: right;
}
:global .os-red {
  color: red !important;
  font-weight: lighter !important;
}

:global .ui.text.container.stretch {
  max-width: 1200px !important;
}

:global .indent {
  text-indent: 2em;
}

:global .ui.toggle.checkbox .box:before,
:global .ui.toggle.checkbox label:before {
  background: rgb(63, 63, 63) !important;
}

:global .ui.toggle.checkbox .box:hover::before,
:global .ui.toggle.checkbox label:hover::before {
  background-color: rgb(58, 58, 58) !important;
}

:global .ui.toggle.checkbox .box,
:global .ui.toggle.checkbox label {
  color: white !important;
}

:global .inline {
  display: inline;
}

:global p.indent.inline::before {
  content: "aaa";
  width: 2em;
  visibility: hidden;
}
:global p.indent.inline::after {
  content: "a";
  width: 0.5em;
  visibility: hidden;
}

.textBold {
  font-weight: bold;
}
.textItalics {
  font-style: italic;
}
.textWhite {
  color: white !important;
}
.basicWrapper {
  position: absolute;
  top: 47px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px;
}
.basicBody {
  display: flex;
  height: 100%;
  justify-content: center;
}

.storyPanel {
  display: flex;
  height: calc(100vh - 100px);
  justify-content: center;
}

.storyColumn {
  overflow-y: auto;
  overflow-x: hidden;
}
