.flexRow {
  display: flex !important;
  justify-content: space-between;
}

.flexRowLeft {
  display: flex;
}

.checkboxLabel {
  margin-left: 15px !important;
  margin-right: 5px !important;
}

.rightHandLabel {
  margin-right: 0 !important;
  margin-left: 10px !important;
}

.storyCard {
  padding: 40px !important;
  background-color: transparent !important;
  box-shadow: none !important;
  border: 1px solid #0000000d !important;
  max-height: 600px;
}

.storyTitle {
  margin: 30px 0;
}

.storyContentSegment {
  padding: 2px !important;
  margin: 0 !important;
}
