{
  "presets": [
    [
      "latest",
      {
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    // "transform-class-property-arrow-functions",
    "transform-class-properties"
  ]
}
